.venv/
.idea/
__pycache__/
*.pyc
.pytest_cache/
.coverage
media/
staticfiles/
db.sqlite3
*.log
*.so
.Python
venv/
.env
.env.local
.env.production
*.db
*.sqlite3
*.pid
celerybeat-schedule
celerybeat.pid

